mixin forms-arrival-out()
    - let articleClassName = ['arrival', 'out']
    for val, index in ['ПРИБЫТИЕ', 'ВЫЕЗД']
        article(class=articleClassName[index])
            label
                span(class="bold-text-not-title")=val
            br
            input(class="date-input date-input__width-height date-input__border-charact date-input__text-charact date-input__outline-none" placeholder="ДД.ММ.ГГГГ" maxlength="10")
            span(class="date-input__icon-for-in-out")
                img(src="../svg/expand_more.svg")

block landing-page
    section.body-landing
        article(class="content-container content-container_display_flex")
            article(class="form-hotel-rooms")
                article(class="form-hotel-rooms__rectangle-hotel-rooms")
                    article(class="form-hotel-rooms__content-space")
                        h2 Найдем номера под ваши пожелания
                        +forms-arrival-out()
                        article(class="guests-label")
                            label
                                span(class="bold-text-not-title") ГОСТИ
                            br
                            a(href="#")
                                button(class="guests-label__position-how-guests-dropdown date-input__text-charact date-input__border-charact bg_white") Сколько гостей
                                    span(class="guests-label__icon-expand-more")
                                        img(src="../svg/expand_more.svg", alt="")
                        article(class="full-button-search")
                            a(href="#")
                                button(class="button button_text-color_white button_bg_gradient button__search-hotel-rooms button_hover_transform") ПОДОБРАТЬ НОМЕР
                                    span(class="full-button-search__arrow-search")
                                        img(src="../svg/arrow_pick_up_hotel_rooms.svg", alt="")

            article(class="inscript-below-bg")
                span(class="inscript-font_size-color-height") Лучшие номера для вашей работы, отдыха и просто вдохновения
                                             
                            