.content-container{
    max-width: 1400px; /*Устанавливает максимальную ширину элемента*/
    min-width: 314px;
    margin-left: auto; /*Устанавливает величину отступа от левого края элемента*/
    margin-right: auto; /*Устанавливает величину отступа от правого края элемента*/
    padding-left: 140px; /*Устанавливает значение поля от левого края содержимого элемента*/
    padding-right: 140px; /*Устанавливает значение поля от правого края содержимого элемента*/

    &__navigation-container{
        height: 70px; /*Устанавливает высоту содержимого элемента*/
        display: flex; /*Определяет как элемент должен быть показан в документе*/
        align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
        justify-content: space-between; /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
    }

    &_display_flex{
        display: flex;
    }
}