
<section class="footer-widgets">
  <article class="content-container footer-widgets__all-footer-widgets">
    <article class="footer-widgets__footer-nav">
      <ul class="footer-widgets__footer-list">
        <li><img class="max-width_100" src="../../svg/Logo.svg"/></li>
        <li><span class="inscript-font_size-color-height">Бронирование номеров в лучшем <br> отеле 2019 года по версии <br> ассоциации «Отельные взгляды»</span></li>
      </ul>
    </article>
    <article class="footer-widgets__footer-nav">
      <ul class="footer-widgets__footer-list"> 
        <li class="footer-widgets__head-footer-list-elem"><b>НАВИГАЦИЯ</b></li>
        <li class="footer-widgets__footer-list-elem">О нас</li>
        <li class="footer-widgets__footer-list-elem">Новости</li>
        <li class="footer-widgets__footer-list-elem">Служба поддержки</li>
        <li class="footer-widgets__footer-list-elem">Услуги</li>
      </ul>
    </article>
    <article class="footer-widgets__footer-nav">
      <ul class="footer-widgets__footer-list"> 
        <li class="footer-widgets__head-footer-list-elem"><b>О НАС</b></li>
        <li class="footer-widgets__footer-list-elem">О сервисе</li>
        <li class="footer-widgets__footer-list-elem">Наша команда</li>
        <li class="footer-widgets__footer-list-elem">Вакансии</li>
        <li class="footer-widgets__footer-list-elem">Инвесторы</li>
      </ul>
    </article>
    <article class="footer-widgets__footer-nav">
      <ul class="footer-widgets__footer-list"> 
        <li class="footer-widgets__head-footer-list-elem"><b>СЛУЖБА ПОДДЕРЖКИ</b></li>
        <li class="footer-widgets__footer-list-elem">Соглашения</li>
        <li class="footer-widgets__footer-list-elem">Сообщества</li>
        <li class="footer-widgets__footer-list-elem">Связь с нами</li>
      </ul>
    </article>
    <article class="footer-widgets__footer-nav">
      <ul class="footer-widgets__footer-list">
        <li class="footer-widgets__head-footer-list-elem"><b>ПОДПИСКА</b></li>
        <li class="inscript-font_size-color-height">Получайте специальные предложения и новости сервиса</li>
        <li class="footer-widgets__footer-list-elem position_relative">
          <input class="input-send-email" placeholder="Email"/><span class="input-send-email_position_absolute"><img src="../../svg/arrow_send_email.svg"/></span>
        </li>
      </ul>
    </article>
  </article>
</section>
<hr/>
<footer>
  <article class="content-container all-items-footer"><span class="all-item-footer__text-copyright">Copyright © 2018 Toxin отель. Все права защищены.</span>
    <article class="all-item-footer__icons-link"><img src="../../svg/twitter.svg"/><img src="../../svg/facebook.svg"/><img src="../../svg/insta.svg"/></article>
  </article>
</footer>