<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link href="../../css/index.css" rel="stylesheet" type="text/css">
    <title>Landing page</title>
  </head>
  <body>
    <script src="../../index.js"></script>
    <header class="site-header">
      <article class="site-header__header-container">
        <article class="site-header__navigation-container">
          <article class="logo"><img src="../../svg/Logo.svg"></article>
          <nav class="menu-bar"><a class="menu-bar" href="">О нас</a><a class="menu-bar" href="">Услуги</a><a class="menu-bar" href="">Вакансии</a><a class="menu-bar" href="">Новости</a><a class="menu-bar" href="">Соглашения</a>
            <button class="button button__margin-in-navbar button_color-text_button-join bg_white button_border_gradient">ВОЙТИ</button>
            <button class="button button__margin-in-navbar button_text-color_white button_bg_gradient">ЗАРЕГИСТРИРОВАТЬСЯ</button>
          </nav>
        </article>
      </article>
    </header>
  </body>
</html>