.site-header {
    width: 100%; /*Устанавливает ширину содержимого элемента*/
    background-color: white; /*Определяет цвет фона элемента*/
    height: 70px; /*Устанавливает высоту содержимого элемента*/
    position: fixed;
    display: block;
    z-index: 1000; /* Это нужно для того, чтобы при прокрутке сайта, шапка всегда отображалась ПОВЕРХ всех элементов */
}
.menu-bar {
    font-size: 14px; /*Определяет размер шрифта элемента*/
    font-family: Montserrat, serif;
    line-height: 17px; /*Задаёт высоту строки текста*/
    text-decoration: none; /*Добавляет оформление текста*/
    margin: 0 20px;
    color: #1F204180;
}